         body
			{
				font-family: sans-serif;
				margin: 0;
				padding: 0;
				height: auto;
            font-weight:;
			}
         @font-face
         {
            font-family: Heavitas;
            src: url("Heavitas.ttf");
         }
            .header
            {
            	height: auto;
            	display: block;
            	background-color: #0099ff;
            	width: 100%;
            	box-sizing: border-box;
            	position: relative;
            }
            .desk
            {
            	padding-top: 20px;
            	padding-bottom: 1px;
				  text-align: center;

            }
            #foto
            {
            	background: url("meme.jpg");
            	width: 200px;
            	height: 200px;
               background-color: white;
            	border-radius: 200px;
            	background-size: cover;
               border: 8px solid white;
            	background-position: center;
            	position: relative;
            	left: 50%;
            	transform: translateX(-50%);
            }
            .desk h1
            {
            	color: white;
            	margin: 0px;
            	margin-bottom: 10px;
            	margin-top: 10px;
            	position: relative;
            }
            
            .about
            {
            	height: auto;
            	width: 100%;
            	box-sizing: border-box;
            	padding:50px 50px 100px 50px;
            	display: block;
            	margin-top: -100px;
            	position: relative;
            }
            .subjudul,.skill2,.footer_heading
            {
            	padding-bottom: 5px;
            	border-bottom: 3px solid purple;
            	display: inline-block;
            	font-size: 30px;
            	padding-left: 10px;
            	padding-right: 10px;
            	text-align: center;
            	margin-bottom: 20px;
            }
            .footer_heading
            {
            	color: white;
            	
            }
            #headersvg
            {
            	margin-top: -80px;
            }
            .me
            {
            	margin-left: 100px;
            	margin-right: 100px;
            	text-align: justify;
            	font-size: 17px;
               height: 100px;
               background-color: whitesmoke;
               box-shadow: inset 0px 3px 10px gray;
               padding: 15px;
               overflow: auto;
            }
            .me span
            {
               color: purple;
               font-weight: bold;
            }
            p::selection
            {
            	background-color: darkcyan;
            	color: white;
            }
            #aboutsvg
            {
            	margin-top: 1px;
            }
            .skill
            {
            	height: 350px;
            	background-color:#C2EBE9;
            	width: 100%;
            	padding-top: 50px;
            }
            .teknologi
            {
            	float: left;
            	margin-top: 20px;
            	width: 50%;
            	height: 220px;
            	box-sizing: border-box;
            	border-right: 2px solid purple;
            }
            .softskill
            {
            	float: right;
            	width: 50%;
            	height: 220px;
            	box-sizing: border-box;
            	border-left: 2px solid purple;
            	margin-top: 20px;

            }
            .skill2
            {
            	font-size: 18px;
            	border-bottom: 2px dashed tomato;
            }
            .value,.value2
            {
            	margin-left: 100px;
            	margin-right: 100px;
            	width: auto;
            	display: inline-block;
            	margin: auto;
            	position: relative;
            	left: 50%;
            	transform: translateX(-50%);
            }
            
            .programmingskill
            {
            	margin-bottom: 15px;
            }
            .persen
            {
            	margin-left: 10px;
            }
            .languages
            {
            	margin: 0;
            }
            footer
            {
            	background-color: #1D1E58;
            	height: 200px;
            	width: 100%;

            }
            .icon
            {
               width: auto;
               height: 30px;
               margin: auto;
               display: inline-block;
               position: relative;
               left: 50%;
               transform: translateX(-50%);
            }
            .icon img
            {
            	position: relative;
            	top: 50%;
               width: 40px;
               height: 40px;
            	transform: translateY(-50%);
            }
            .icon img:hover
               {
                  top: 40%;
               }
            footer span
            {
               color: white;
               display: block;
               text-align: center;
               margin-top: 20px;
            }
            @media only screen and (max-width: 600px)
            {
               #foto
               {
                background: url("meme.jpg");
               width: 100px;
               height: 100px;
               background-color: white;
               border-radius: 200px;
               background-size: cover;
               background-position: center;
               border: 4px solid white;
               position: relative;
               left: 50%;
               transform: translateX(-50%);
               }
               .desk h1
               {
                  font-size: 17px;
               }
               #headersvg
               {
                  margin-top: -10px;
               }
               .about
               {
                 height: auto;
                   width: 100%;
                   box-sizing: border-box;
                   padding:0px 50px;
                   display: block;
                   margin-top: 0px;
                   position: relative;
                   margin-bottom: 30px;
               }
               .subjudul,.footer_heading
               {
                  font-size: 18px;
                  border-bottom: 3px solid purple;
               }
               .me
               {
                  margin-right: 0px;
                  margin-left: 0px;
                  height: 75px;
                  overflow: auto;
                  font-size: 15px;
                  padding: 10px;
                  background-color: ghostwhite;
                  border-radius: 10px;
                  box-shadow: inset 0px 3px 7px gray;
               }
               .skill
               {
                   height: 350px;
                   background-color:#C2EBE9;
                   width: 100%;
                   padding-top: 0px;
               }
               .teknologi
               {
                 float: left;
                 margin-top: 20px;
                 width: 50%;
                 height: 220px;
                 box-sizing: border-box;
                 border-right: 1px solid purple;
               }
               .softskill
               {
                  float: right;
                  width: 50%;
                  height: 220px;
                  box-sizing: border-box;
                  border-left: 1px solid purple;
                  margin-top: 20px;

               }
               .skill2
               {
                  font-size: 15px;
               }
               .languages
               {
                  font-size: 14px;
               }
               progress
               {
                  width: 100px;
               }
               .persen
               {
                  font-size: 14px;
                  margin-left: 10px;
               }
               .footer_heading
               {
                  color: white;
               }
               footer
               {
                  height: 150px;
                  background-color:#1D1E58;
               }
               .icon img
               {
                  height: 30px;
                  width: 30px;
               }

               footer span
               {
                  color: white;
                  display: block;
                  font-size: 10px;
                  text-align: center;
                  margin-top: 20px;
               }


            }